@charset "UTF-8";
/* Body */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: normal;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* [disabled]height: 1000px; */
	background-color: #FFFEFE;
}
/* Navigation */
header {
	width: 100%;
	height: 112px;
	background-color: #FFFFFF;
	border-left-width: thin;
}
.logo {
	color: #2A2929;
	font-weight: bold;
	text-align: undefined;
	width: 306px;
	float: left;
	margin-top: 10px;
	margin-left: 36px;
	letter-spacing: 4px;
	margin-bottom: 0px;
	margin-right: 25px;
}
nav {
	float: left;
	width: 56%;
	text-align: center;
	margin-right: 25px;
	margin-top: 39px;
	margin-bottom: 29px;
	margin-left: -50px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #DBD7D7;
	font-size: 14px;
	text-align: left;
	margin-right: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	font-size: 15px;
}
ul li a {
	color: #474747;
	text-decoration: none;
}
ul li:hover a {
	color: #414040;
}
.hero_header {
	color: #282828;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
}
.light {
	font-weight: normal;
	font-size: 20px;
	line-height: 1.2;
	color: #4F4F4F;
	width: 80%;
	
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 100%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 10px;
	color: #272727;
}
/* About Section */
.text_main {
	width: 100%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #272727;
	background-color: #FFFFFF;
	padding-top: 10px;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}


/* More info */
footer {
	background-color: #6B6B6B;
	padding-bottom: 0px;
	text-align: center;
	padding-top: 0px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	height: 200px;
}
.footer_specs {
	vertical-align: middle;
	width: 100%;
	height: 25px;
	text-align: center;
	padding-top: 15px;
	float: left;
	background-color: #CBCBCB;
	padding-bottom: 12px;
}
.footer_column {
	width: 30%;
	text-align: left;
	padding-top: 30px;
	float: left;
	background-color: inherit;
	padding-bottom: 30px;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 59%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #272626;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 0px;
}
.copyright {
	padding-top: 0px;
	padding-bottom: opx;
	background-color: #CBCBCB;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 2px;
	border-top-width: 2px;
	width: 30%;
	padding-left: 50px;
}
.banner_text {
	padding-top: 0px;
	padding-bottom: opx;
	background-color: #CBCBCB;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 2px;
	border-top-width: 2px;
	width: 30%;
	padding-right: 10px;
	padding-left: 20px;
}
.container .text_main {
}
.container .footer_banner {
}
.container .text_main {
}
footer {
	display: inline;
}
.hidden {
	display: none;
}
.container .footer_specs .banner_text {
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center; 
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #FFFFFF;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #FFFDFD;
	vertical-align: middle;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
